#startButton {
    background-color: crimson;
}


#startButton:hover {
    background-color: red;
    color: white;
}


div.vidPanel {
    display: flex;
    justify-content: space-between;
}

.vert {
    display: flex;
    flex-direction: column;
}

#log {
    background-color: whitesmoke;
    font-size: small;
}

h2 {
    font-size: medium;
}

.junk {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}